# deep-model-server arguments
--models
resnet-18=https://s3.amazonaws.com/mms-models/resnet-18.model

--service
optional

--gen-api
optional

--log-file
optional

--log-rotation-time
optional

--log-level
optional

# Gunicorn arguments
--bind
unix:/tmp/dms_app.sock

--workers
1

--worker-class
gevent
