# deep-model-server arguments
--models
resnet-18=https://s3.amazonaws.com/mms-models/resnet-18.model

--service
optional

--gen-api
optional

--log-file
optional

--log-rotation-time
optional

--log-level
optional

# Gunicorn arguments
--bind
unix:/tmp/dms_app.sock

--workers
4

--worker-class
gevent

--limit-request-line
0

# MXNet environment variables
OMP_NUM_THREADS=1
